#canvas-container {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 60px;
    margin: 0;
}

canvas {
    border: 2px solid black;
}

.center {
    text-align: center;
    align-items: center;
}