#canvas-container {
    text-align: center;
    padding-top: 40px;
}

.container {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 50px;
}

canvas {
    border: 4px solid black;
}

.center {
    text-align: center;
    align-items: center;
}

#increase-height-btn {
    margin: 5px;
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}

#increase-height-btn:hover {
    background-color: rgb(133, 246, 133);
    transition: 0.5s;
}