* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(21, 128, 228) 100%);
}

#canvas-container {
    text-align: center;
    padding-top: 40px;
}

.container {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 50px;
}

canvas {
    border: 4px solid black;
}

.center {
    text-align: center;
    align-items: center;
}

.canvas-btn {
    margin: 5px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid rgb(10, 169, 227);
    cursor: pointer;
    font-weight: bold;
}

.canvas-btn:hover {
    background-color: rgb(10, 149, 235);
    transition: 0.5s;
}

#shortcuts ul {
    list-style: none;
    padding: 0;
}

#shortcuts li {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}

.shortcut-container {
    display: inline-block;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .canvas-btn {
        width: 280px;
        
    }
}